body {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  place-content: center;
}



/* body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  gap: 30px;
} */

.container{

  background-color: #FACBEA;
  padding: 50px;
  border: 14px solid #dfaccc;

}

.banner-img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
  /* margin-left: 260px; */
}

.img-link {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.links {
  background-color: #D988B9;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 25px;
}

.links a{
  color: #4e1c3a;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}

.links:hover{
  background-color: #764864;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
  flex-grow: 1;
}

.name {
  color: #B0578D;
  display: flex;
  justify-content: center;
  font-family: "Lucida Console", "Courier New", monospace;

.banner {
  display: flex;
  justify-content: center;
}
