:root {
  --move-duration: 0.3s;
}

a {
  text-decoration: none;
  color: #3B353B;
}

a:hover{
  color: gray;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background: linear-gradient(
    135deg,
    #FFF,
    #DF7A90
  );
  font-family: monospace;
}

.icon {
  color: #7a8a90;
  transition: all .3s;
}

.img-link{
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.mainimg{
  border-radius: 25px;
  width: 80%;
}

.container {
  --gutter: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: clamp(600px, 250vmin, 250px);
  padding: var(--gutter);
  gap: var(--gutter);
  background: #fff;
  border-radius: 2em;
  box-shadow: .1em .1em .3em #0000000C;
}

.region {
  --region-bg: #f4c6d0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
  background: var(--region-bg);
  font-size: 1.1em;
  font-variant: small-caps;
  letter-spacing: .1em;
  color: #3B353B;
}

.header {
  height: min(5vh, 45px);
  grid-column: span 2;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.with-long-aside .header {
  grid-row: 1;
  grid-column: 1;
  border-top-right-radius: 0;
  animation: pulse linear forwards 0.5s;
}

@keyframes pulse {
  20% {
    background: lemonchiffon;
  }
  to {
    background: var(--region-bg);
  }
}

.header-label {
  display: flex;
  justify-content: flex-end;
  min-width: 1%;
  transition: all .5s;
}

.with-long-aside .header-label {
  animation:
    move-left-header-label
    var(--move-duration)
    forwards;
}

.without-long-aside .header-label {
  justify-content: flex-start;
  animation:
    move-right-header-label
    var(--move-duration)
    forwards;
}

@keyframes move-left-header-label {
  from {
    min-width: 85%;
  }
  to {
    min-width: 1%;
  }
}

@keyframes move-right-header-label {
  from {
    min-width: 52%;
  }
  to {
    min-width: 1%;
  }
}

.main {
  height: min(25vh, 225px);
}

.aside {
  position: relative;
  padding: 0;
}

.header:hover{
  box-shadow: inset 0 0 5em .1em #0351;
}

.main:hover{
  box-shadow: inset 0 0 5em .1em #0351;
}

.aside:hover {
  box-shadow: inset 0 0 5em .1em #0351;
}

.footer:hover{
  box-shadow: inset 0 0 5em .1em #0351;
}

.with-long-aside .aside {
  grid-row: 1 / 3;
  border-top-right-radius: 1em;
  animation: pulse linear forwards 0.5s;
}

.aside button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.aside-label {
  display: flex;
  align-items: flex-end;
  min-height: 1%;
  transition: all .5s;
}

.with-long-aside .aside-label {
  animation:
    move-up-aside-label
    var(--move-duration)
    forwards;
}

.without-long-aside .aside-label {
  align-items: flex-start;
  animation:
    move-down-aside-label
    var(--move-duration)
    forwards;
}

@keyframes move-up-aside-label {
  from {
    min-height: 32%;
  }
  to {
    min-height: 1%;
  }
}

@keyframes move-down-aside-label {
  from {
    min-height: 44%;
  }
  to {
    min-height: 1%;
  }
}

.aside-instructions {
  position: absolute;
  bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all .3s;
}

@media (max-height: 400px) {
  .aside-instructions {
    display: none;
  }
}

.click-icon,
.chevron-icon,
.chevron-contour-icon {
  width: max(3vmin, 14px);
  height: max(3vmin, 14px);
  transition: all .2s;
}


.footer {
  height: min(5vh, 45px);
  grid-column: span 2;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
